/bin/
*.o
aes
sha256
*sec
*.s
assembly_sizes.txt
a.out
assembly_commands_for_parsing.txt
main_program
*_keyshares
all_keyshares_for_verification
headers_needed.h
initializer.c
verification_procedure.c
memory_manager.c
stack_manager.c
functions_needed_header.c
functions_needed_footer.c
mac_handling_functions.c
memory_manager_test_suite.c
stack_manager_test_suite.c
main_program.c
general_tests.c
code/sha256.c
code/sha256.h
secure_getters_setters.c
secure_getters_setters.h
crypto_functions.c
crypto_functions.h
calc_mac_for_external_programs
tests_with_new_stack.c
secure_stack_manipulation_functions.c
#.classpath
#.project
