/bin/
.vscode/
__pycache__/
pin-3.7-97619-g0d0c92f4f-gcc-linux/
/code/*
!/code/crypto_algorithms
!/code/foo_explanations
!/code/template_files
!/code/automate.sh
!/code/Makefile
!/code/foo_tests
!/code/other_foo_tests
!/code/scripts_for_code_generation
!/code/some_benchmarks
!/code/pycparser_scripts
*.o
*.so
*.s
aes
sha256
*sec
addresses_of_unsplit_blocks.txt
addresses_of_cpu_split_blocks.txt
assembly_sizes.txt
a.out
assembly_commands_for_parsing.txt
main_program
*_keyshares
all_keyshares_for_verification
headers_needed.h
initializer.c
verification_procedure.c
memory_manager.c
stack_manager.c
heap_manager_new_unsafe.c
heap_manager_new_secure.c
heap_manager_functions_that_use_secure_stack.c
more_tests_that_use_new_stack.c
functions_needed_header.c
functions_needed_footer.c
mac_handling_functions.c
memory_manager_test_suite.c
stack_manager_test_suite.c
main_program.c
general_tests.c
code/sha256.c
code/sha256.h
secure_getters_setters.c
secure_getters_setters.h
crypto_functions.c
crypto_functions.h
calc_mac_for_external_programs
tests_with_new_stack.c
secure_stack_manipulation_functions.c
secure_program_mac_invocations.txt
mac_invocation_times.txt
mac_time_calculator
table_with_assembly_command_sizes.txt
#.classpath
#.project
secure_executables/
ast
ast_of_original_c_code
semantic_data
stack_canaries
comm_file1
comm_file2
calc_mac_for_external_programs_faster
*trace.out
nohup.out
*traceparse.out
*trace.out.zip
*trace.out.gz
itrace_modified.cpp
pinatrace_modified.cpp
parse_trace.py
output_stdin_and_on_signal
progout_fifo_itrace
progout_fifo_dtrace
*summed_up_results.txt
extract_total_time_for_macs.py
echo64.s
echo64_sp.s
echo_hash.h
echo_hash_api.h

